.contain-input-thread{
    position: sticky;
    bottom: 0px;
    width: 100%;
    background-color: white;
    height: auto;
    padding: 10px 0px;
    z-index: 2;
}

.input-thread{
    background-color: white;
    width: calc(100% - 16px);
    padding: 0px 3px 0px 11px;
    color: black;
    border-radius: 20px;
    border: 1px solid rgb(198, 198, 198);
    overflow: hidden;
}

.contain-input-thr{
    display: flex;
    flex-direction: row;
    width: calc(100%);
}
.input-thr{
    width: calc(100%);
    padding: 7.5px 0px;
    color: black;
}
.input-thr:focus{
    outline: none;

}

.btn-input-thread{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.btn-input-thread svg{
    width: 24px !important;
    height: 24px !important;
    padding: 2.5px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 2.2px;
}
.btn-input-thread svg:hover{
    background-color: rgba(0, 0, 0, 0.139);
    border-radius: 50%;
    cursor: pointer;
}
.btn-input-thread svg:last-child path:last-child{
    fill: chartreuse;
}


[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
    cursor: text; /* Set the desired cursor style */
}


.contain-input-url{
    position: relative;
    float: left;
    margin-top: 5px;
    margin-bottom: 4px;
    height: auto;
    width: calc(100% - 5px);
    display: flex;
    flex-direction: row;
}

.contain-input-url-items{
    display: flex;
    overflow-x: auto;
}

.contain-input-url-items > div{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 8px 9px 4px 0px;
    flex: 0 0 auto;
}

.contain-input-url span{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    z-index: 0;
}

.contain-input-url img, .contain-input-url video{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contain-input-url svg{
    position: absolute;
    right: -7px;
    top: -7px;
    width: 14px;
    height: 14px;
    z-index: 1;
    padding: 4px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(203, 203, 203);
    cursor: pointer;
}

.contain-input-url svg path{
    stroke: black;
}


.contain-input-url-items::-webkit-scrollbar {
    height: 6px;
}
.contain-input-url-items::-webkit-scrollbar-track {
    background-color: transparent; 
}
.contain-input-url-items::-webkit-scrollbar-thumb {
    background-color: #e2e2e2;
    border-radius: 5px;
}


.style-input-thread{
    position: relative;
    height: auto;
    width: calc(100% - 15px);
    padding-left: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
}
.style-input-thread span{
    position: relative;
    display: flex;
    width: 14px;
    height: 14px;
    padding: 5px;
    background-color: rgb(231, 231, 231);
    border-radius: 2px;
    margin-right: 6px;
    cursor: pointer;
}
.style-input-thread span:first-child{
    background-color: rgb(115, 115, 115);
}
.style-input-thread span:first-child svg{
    fill: white;
}
.style-input-thread span svg{
    width: 100%;
    height: 100%;
    fill: black;
}



.modal-content-post{
    margin-top: 8px;
}
.modal-body-post {
    float: left;
    overflow: scroll;
    height: calc(100vh - 90px) !important;
}
.modal-body-post::-webkit-scrollbar-thumb {
    background: #81818161;
    border-radius: 1px;
}
.modal-body-post::-webkit-scrollbar {
    background: #fff;
    width: 7px;
}