.hide-element{
    display: none;
}






.loader-circle-small{
position: relative;
float: left;
width: 100%;
height: auto;
display: flex;
justify-content: center;
}
.loader-circle-small div{
position: relative;
border: 3px solid white;
border-radius: 50%;
border-top: 3px solid transparent;
width: 12.5px;
height: 12.5px;
-webkit-animation: spin 1s linear infinite; /* Safari */
animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


.set-bold{
    font-weight: bold;
}


.loader-roundo {
    margin-left: 14.5px;
    margin-right: 3.5px;
    margin-top: auto;
    margin-bottom: 6px;
    width: 26px;
    --b: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgb(25, 49, 94);
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation: l5 1s infinite;
  }
  @keyframes l5 {to{transform: rotate(.5turn)}}