.fr-profile{
    width: 100%;
    padding-top: 60px;
    margin: auto;
}

.profile-header{
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
}

.content[dark-mode="true"] .profile-header{
    background-color: #312f2f;
}


.profile-avatar-container{
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-avatar-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name-container{
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-name-container p{
    font-weight: bold;
    font-size: 1.3em;
}
.content[dark-mode="true"] .profile-name-container p{
    color: white;
}
.profile-name-container span{
    margin-top: 5px;
    font-size: 0.8em;
    color: rgb(122, 122, 122);
}
.content[dark-mode="true"] .profile-name-container span{
    color: rgb(187, 187, 187);
}

.profile-follow-container{
    margin-top: 15px;
    width: auto;
    display: flex;
    flex-direction: row;
}
.item-follow{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0px 10px;
    width: 70px;
}
.item-follow span:first-child{
    font-weight: bold;
}

.content[dark-mode="true"] .item-follow{
    color: white;
}

.follow-button{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow-button span{
    position: relative;
    padding: 6px 15px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.followed span{
    background-color: rgb(166, 166, 166);
}